.mat-form-field {
    display: block;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
}

.btn-success {
    color: #fff !important;
    background-color: var(--primary) !important;
    border-color: var(--primary);
}